{% load staticfiles %}
<html>
        <head>
            <title>Frases | ERokerVC</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static "css/tema.css" %}">
            <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        </head>
        <body>
        {% for post in posts %}
            <div>
                <blockquote>
		        <p>{{ post.texto|linebreaks }}</p>
		              <cite>{{ post.personaje }}</cite>
	           </blockquote>
                <p>publicado el: {{ post.fecha_publicacion }} | por: {{ post.autor}}</p>
            </div>
        {% endfor %}
        </body>
</html>
