{% extends "frases/base.html" %}

{% block content %}

        {% for post in posts %}
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">

                </h2>
            </a>
            <blockquote>
            <p>{{ post.texto|linebreaks }}</p>
                  <cite>{{ post.personaje }}</cite>
              </blockquote>
            <p class="post-meta"><i class="fa fa-user"></i> <a href="#">{{ post.autor}}</a> |
             <i class="fa fa-clock-o"></i> {{ post.fecha_publicacion }}</p>
            <p class="post-meta"><i class="fa fa-folder"></i> {{post.categoria}} </p>
        </div>
        <hr>
        {% endfor %}
        
 {% endblock content %}
